html {
  scroll-behavior: smooth;
}

main hgroup {
  position: relative;
}
article {
  margin: 0;
}
.title {
  padding-top: 50px;
}

.logo {
  width: 50px;
  border-radius: 50%;
}

.logo-indice {
  width: 20px;
  border-radius: 50%;
}

.flex-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex-title h1,
.flex-title h2 {
  margin: 0;
}

.img-article {
  margin-bottom: 10px;
}

.img-article img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  padding: 0;
}

.footer-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.lista {
  margin-top: 10px;
}

.bg-light {
  background-color: rgb(244, 244, 244);
}
.bg-dark {
  background-color: #11191f;
}

.mode {
  position: absolute;
  top: 20px;
  right: 10px;
}

.fixed nav {
  margin-left: 10px;
}

.fixed li,
.fixed nav,
.fixed ol,
.fixed ul {
  display: block;
}
.flecha {
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

@media (min-width: 992px) {
  .fixed nav {
    position: fixed;
    width: 200px;
    max-height: calc(100vh - 5.5rem);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .flecha {
    display: none;
  }
}
